<div>
  <a href='/people/<%= @new_person.id %>'><%= @new_person.name %></a>
  <br>
  <a href='/people/<%= @new_person.id %>/delete' class="delete_user_link"><small>delete</small></a>
  <br><br>
</div>
