<div class="container">
  <h1>Here's a person!</h1>

  <%= @person.name %><br>
  <%= @person.age %><br><br>

  <a href='/people/<%= @person.id %>/edit'>Edit this person's page?</a><br>

  <a href='/people/<%= @person.id %>/delete'>Delete this person?</a>

</div>
